body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

#globalCounter {
  font-size: 48px;
  margin: 20px;
}

#clientCounter {
  font-size: 48px;
  margin: 20px;
}

#clickBtn {
  font-size: 16px;
  padding: 8px 16px;
  margin: 5px;
}

#sendBtn {
  font-size: 16px;
  padding: 8px 16px;
  margin: 5px;
  position: fixed;
  right: 0;
  bottom: 0;
} 

#chat {
  width: 300px;
  height: 200px;
  border: 1px solid #444;
  margin: 10px auto;
  overflow-y: auto;
  padding: 5px;
  background: #222;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

input {
  padding: 5px;
  margin: 5px;
  width: 200px;
  position: fixed;
  right: 90px;
  bottom: 5px;
} 
